h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  p {
    color: red;
    font-family: courier;
    font-size: 160%;
  }

  td:focus::after,
  th:focus::after { 
    content: '';  
    background-color: lightblue;
    position: absolute;  
    left: 0;
    height: 10000px;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  
  td:focus::before {
    background-color: lightblue;
    content: '';  
    height: 100%;
    top: 0;
    left: -5000px;
    position: absolute;  
    width: 10000px;
    z-index: -1;
  }

  table {
    overflow: hidden;
  }
  
  
  td, th {
    position: relative;
  }
  th:hover {background-color:blue;}
  
  th:hover::after {
    content: "";
    position: absolute;
    background-color: grey;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }