input:valid {
    background-color: lightgreen;
}

input:invalid {
    background-color: lightcoral;
}

#gradient {
    height: 100px;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, blue, green);
  }