.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    width: 15cm;
    margin: 12px;
    padding: 5px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
  }


  .slist li.hint {
    border: 1px solid #8de47c;
    background: #f5e5b9;
  }
  .slist li.active {
    border: 1px solid #a8f889;
    background: #53f053;
  }